@import 'tailwindcss';
@import 'konsta/react/theme.css';

html, body {
    background-color: var(--color-bg-base);
    color: var(--color-text-base);
    
    height: 100%;
    width: 100%;
    
    overflow: hidden; 
    position: fixed;
    
    overscroll-behavior: none;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

@theme {
    --color-brand-primary: #f5f4e7;
}

:root {
    --color-brand-primary: #ffee81;
    --color-brand-secondary: #f1f1f1;
    --color-brand-accent: #964319;
    --color-brand-gray: #332929;
    --color-brand-light-gray: #cacaca;

    --color-bg-base: #fcfcfc;
    --color-bg-card: #ffffff;
    --color-bg-light-gray: #f9f9f9;

    --color-text-base: #222222;
    --color-text-muted: #858585;

    --color-border: #dedede;
    --color-border-mute: #f6f1ef;
}

.theme-bg-base { background-color: var(--color-bg-base); }
.theme-bg-card { background-color: var(--color-bg-card); }
.theme-bg-primary { background-color: var(--color-brand-primary); }
.theme-bg-secondary { background-color: var(--color-brand-secondary); }
.theme-bg-gray { background-color: var(--color-brand-gray); }
.theme-bg-light-gray { background-color: var(--color-bg-light-gray); }
.theme-text-base { color: var(--color-text-base); }
.theme-text-muted { color: var(--color-text-muted); }
.theme-text-brand { color: var(--color-brand-primary); }
.theme-text-accent { color: var(--color-brand-accent); }
.theme-text-gray { color: var(--color-brand-gray); }
.theme-text-light-gray { color: var(--color-brand-light-gray); }
.theme-border { border-color: var(--color-border); }
.theme-border-mute { border-color: var(--color-border-mute); }
.theme-card { background-color: var(--color-bg-card); border: var(--border-1) solid var(--color-border); border-radius: var(--radius-md); }